<ion-header>
  <ion-toolbar class="header">
    <ion-title>
      Kerul Todo-app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    
    
  </div>
  <ion-grid>
  	<ion-row>
  		<ion-col>
  			<ion-card >
  				<ion-card-header color="primary">
  					Welcome to my todo list
  				</ion-card-header>
  				<ion-card-content>
  					
  					User: kerul
  				</ion-card-content>
  			</ion-card>

  			<ion-card >
  				<ion-card-title>
  					Laundry
  				</ion-card-title>
		  			<ion-card-subtitle>
		  				<ion-list>
  							<ion-item>
  							Do laundry 9am
  							</ion-item>
  							<br>
  							<ion-button color="secondary"
  							expand="block">
  							See details
  							</ion-button>
  						</ion-list>

		  			</ion-card-subtitle>
  				
  			</ion-card>
  		</ion-col>
  	</ion-row>
  </ion-grid>
  <!-- Fixed Floating Action Button that does not scroll with the content -->

  <ion-fab vertical="bottom" 
    horizontal="center"
    slot="fixed">
    <ion-fab-button (click)="goToDetails()" color="danger" 
    >
    		<ion-icon name="add"></ion-icon>
	</ion-fab-button>
  </ion-fab>
</ion-content>
